<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<bean id="blackInk" class="com.spring.core.BlackInk"></bean>

	<bean id="fountainPen" class="com.spring.core.FountainPen">
		<property name="ink" ref="blackInk"></property>
	</bean>
	<bean id="writer" class="com.spring.core.Writer">
		<property name="pen" ref="fountainPen"></property>
	</bean>
	<!-- <bean id="fountainPen" class="com.spring.core.FountainPen"> <constructor-arg 
		ref="blackInk"></constructor-arg> </bean> -->

	<!-- <bean id="writer" class="com.spring.core.Writer"> <constructor-arg 
		ref="fountainPen"></constructor-arg> </bean> -->

</beans>